.portfolio_thumbnail {
  cursor: pointer;
  /* width: 33.2%; */
}

#portfolio_section {
  padding: 25px 15px 0 15px;
}

.PortfolioMain--thumbnail {
  position: relative;
  min-height: 1px;
  padding: 0px;
}

@media (min-width: 992px) {
  .PortfolioMain--thumbnail {
    float: left;
    width: 33.333333%;
  }
}