.about_section {
	height: 400px;
}

.about_content {
	display: flex;
	flex-direction: row;
	width: 60%;
	margin: auto;
}

.about_information {
	padding: 40px 0px 0px 20px;
}

.about_header {
	margin: auto;
	width: 60%;
	padding-bottom: 20px;
}

#profile_picture {
	padding: 20px 20px 20px 0px;
}