.Header {
    margin: 51px 0 0 0;
    padding: 60px 48px;
    background: rgb(14, 175, 36);
}

.Header--fullScreen {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header .Header--content {
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.Header h1 {
    font-size: 48px;
}

.Header p {
    font-size: 24px;
}