.Header {
    margin: 51px 0 0 0;
    padding: 60px 48px;
}

.Header .Header--text, .Header .Header--learnMoreButton {
    margin: auto;
    width: fit-content;
}

.Header h1 {
    font-size: 48px;
}

.Header p {
    font-size: 24px;
}